<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Inicia sesion</h3>
  <form action="" method="post">
    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input name="email" class="uk-input" type="text" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input name="password" class="uk-input" type="password" aria-label="Not clickable icon">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline">
        <span>No tienes cuenta? <a href="/signup">Registrate!</a></span>
      </div>
    </div>

    {{#if error}}
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-danger">{{error}}</span>
        </div>
      </div>
    {{/if}}
    

    <button class="uk-button uk-button-default">Entrar</button>
  </form>
</div>
<div>
  <h3>Usuarios Habilitados</h3>
  <h4>Admin</h4>
  <ul>
    <li>Oral_Grant@hotmail.com</li>
    <li>Devin52@hotmail.com</li>
    <li>Ashlynn_Jacobs15@gmail.com</li>
    <li>Emily.Schuster@gmail.com</li>
    <li>Bartholome_Quigley76@yahoo.com</li>
  </ul>
  <h4>Customer</h4>
  <li>Alf71@yahoo.com</li>
  <li>Juanita.Roob@yahoo.com</li>
  <li>Sherwood_Hessel25@hotmail.com</li>
  <li>Scotty_Gutmann93@yahoo.com</li>
  <li>Floy_Bode85@gmail.com</li>
</div>
